@import "../../../global.scss";

li{ 
        overflow: hidden;
        font-size: 16px;
        margin-right: 60px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .4s ease;
        @include mobile{
                margin-right: 13px;
              
        }
        &.active{
                background-color: $mainColor;
                color:white;
        }
    }
